@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-unbound: 'Unbounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* Background glow layers */
  --glow-color: #00ff7f;
  --glow-size: 800px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-title {
    @apply text-[clamp(2rem,5vw,6rem)] font-unbound  break-words leading-none mb-0 text-nowrap;
  }

  .heading-subtitle {
    @apply text-[clamp(1rem,3vw,1.5rem)] text-zinc-200 leading-none mb-0 w-[300%];
  }
}
